* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Source Serif Pro;
    background-image: url(bgcontrol.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
}


body img{
    top: 15px;
    left: 18px;
    width: 490px;
    height: 148px;
    margin: 18px;
    display: 20px;   
}


.form-login {
    width: 500px;
    height: 420px;
    background: #4e4d4d;
    margin: auto;
    margin-top: 160px;
    box-shadow: 7px 13px 37px #000;
    padding: 20px 30px;
    border-top: 4px solid #017bab;
    color: white;
}


.form-login {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.form-login h5 {
    margin: 0;
    text-align: center;
    height: 58px;
    margin-bottom: 40px;
    border-bottom: 1px solid;
    font-size: 35px;

}

    

.controls {
    width: 100%;
    border: 1px solid #017bab;
    margin-bottom: 30px;
    padding: 11px 10px;
    background: #ffffff;
    font-size: 18px;
    font-weight: bold;
}


.button {
    width: 100%;
    height: 40px;
    background: #017bab;
    border: none;
    color: white;
    margin-bottom: 20px;
    font-size: 20px;
}


.button:hover {
    cursor: pointer;
}


.form-login p{
    height: 40px;
    text-align: center;
    border-bottom: 1px solid;
}

.form-login a{
    color: white;
    text-decoration: none;
    font-size: 17px;
}

.form-login a:hover{
    text-decoration: underline;
}

@media (max-width:480px) {
    form{
      width: 100%;  
    }
}

