body{
    background-image: url(img/foros_de_debate.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

form{
    width: 600px;
    margin: auto;
    display: 18px;
    background: rgba(0,0,0,0.4);
    padding: 23px 20px;
    box-sizing: border-box;
    margin-top: 5px;
    border-radius: 7px;  
}
form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media (max-width: 500px){
    form{
      width: 100%;  
    }
}
h2{
    color: #ffffff;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
}

input, textarea{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
}

textarea{
    min-height: 200px;
    max-height: 200px;
    max-width: 100%;
}

#button{
    background: #31384a;
    color: #ffffff;
    padding: 20px;
}

#button:hover {
    cursor: pointer;
}

@media (max-width:480px) {
    form{
      width: 100%;  
    }
}

.cartel{
    width: 50%;
}